*png
*txt
*svg
*~
*h5
*log
*#*
*out
RyR2_assay/*xml
RyR2_assay/*dig
RyR2_assay/*csv
RyR2_assay/*xcf
RyR_CaM_assay/*xml
RyR_CaM_assay/*dig
RyR_CaM_assay/*csv
RyR_CaM_assay/*jpg
RyR_CaM_assay/*xcf
RyR2_CaM/*xml
RyR2_CaM/*dig
RyR2_CaM/*csv
RyR2_CaM/tmp
RyR2_CaM/*xcf